@import url('https://rsms.me/inter/inter.css');
    html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

:root {
    --primary-color: #009FFF; 
    --secondary-color: #5D5F61;
}

* {
    margin: 0;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 10px #dbdbdb;
}

#header-logo {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-logo-svg {
    padding: 15px 10px 15px 45px;
} 

#header-logo-a {
    /* padding: 10px; */
    font-weight: 700;
    font-size: 36px;
}

nav {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

a {
    text-decoration: none;
}

#header-a {
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
}

#header-a:hover {
    background-color: lightblue;
}

.title-1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-1 {
    text-align: center;
    padding: 80px 20px 100px 20px;
    font-size: 30px;
    font-weight: 700;
}

#hero-h1-2 {
    padding-top: 10px;
}

.blue-font {
    color: var(--primary-color);
}

hr {
    position: relative;
    border-top: 5px solid #D0D5DD;
    border-radius: 10px;
}

#hr-1 {
    width: min(650px, 80%);
    margin-top: 1rem;
}

#hr-2 {
    width: min(650px, 80%);
    margin-top: 1rem;
}

#hero-box-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-box {
    background: rgb(0,159,255);
    background: linear-gradient(0deg, rgba(0,159,255,1) 0%, rgba(0,121,255,1) 100%);
    text-align: justify;
    width: 88vw;
    padding: 50px 70px 100px 70px;
    border-radius: 40px;
    box-sizing: border-box;
    margin-bottom: 400px;
}

#hero-box-img {
    width: 100%;
    position: absolute;

    top: 650px;
}

#hero-2 {
    text-align: center;
    font-size: 32px;
}

#hero-box-p {
    font-size:35px;   
}

#world-map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#world-map {
    box-sizing: border-box;
    width: 70vw;
    margin: 100px 0px 100px 0px;
}

.title-2-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 60px;
}

.title-2  {
    font-size: 60px;
    margin: 0;
}

#hr-3 {
    margin-top: 20px;;
    width: min(900px, 80%);
}

.header-table {
    width: 30%;
    color: black;
}

table {
    margin-top: 20px;
}

td {
    padding-top: 15px;
    font-size: 25px;
    color: var(--secondary-color)
}

footer {
    background-color: #009FFF;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    color: white;
    box-sizing: border-box;
    padding: 80px;
}

#footer-box-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

#footer-box-2 {
    flex-grow: 1;
}

#copyright {
    display: flex;
    flex-direction: row;
}

#footer-logo-a {
    /* padding: 10px; */
    font-weight: 700;
    font-size: 18px;
}

#footer-a {
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    font-size: 9px;
}

